[submodule "proto_pinned/vendors/spotlib"]
	path = proto_pinned/vendors/spotlib
	url = https://gitlab.com/camlspotter/spotlib
[submodule "proto_pinned/vendors/ppx_meta_conv"]
	path = proto_pinned/vendors/ppx_meta_conv
	url = https://gitlab.com/camlspotter/ppx_meta_conv
[submodule "proto_pinned/vendors/scaml"]
	path = proto_pinned/vendors/scaml
	url = https://gitlab.com/haochenxie/scaml.git
[submodule "agency_backend/vendors/httpaf"]
	path = agency_backend/vendors/httpaf
	url = https://github.com/kxcteam/httpaf.git
[submodule "shared_vendors/kxclib"]
	path = shared_vendors/kxclib
	url = https://github.com/kxcteam/kxclib-ocaml.git
